/*      #b1 {
  height: 100px;
  width:50vw;
  background:royalblue ;
  font-size: 12px;
  
}
#b2 {
  height:15vh;
  width:30%;
  background: greenyellow;
  margin-left: 10%;
  font-size: 2em;
}
*/
*{
  width:500px;
}



div {
  height:100px;
  width:100px;
  background:royalblue;
  border:2px solid black;
  display:inline-block;
}
/*     #b1 {
  position: static;
  
}
#b2 {
  position : relative;
  top:20px;
  left:10px;
}
#b3{
  position:absolute;
left:250px;
  top:0px;
  z-index: 1;
}


#b4{
  position:fixed;
  right
}
*/
body {
  background-image: url("watch.jpg")
}
